---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const books = await getCollection('books');
  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data } = book;
const { title, img, subtitle } = data;

const { Content } = await render(book);

export const prerender = true;
---

<Layout
  title={`Aires del Rosario | ${title}`}
  description="Servicio profesional de instalación, reparación y mantenimiento de aires acondicionados en Rosario. Calculá frigorías, contactanos y climatizá tu hogar."
>
  <section
    class="card-container mt-10 mb-6 max-w-sm sm:max-w-md md:max-w-3xl lg:max-w-6xl mx-auto"
    style={`background: url(/${img}) center center / cover no-repeat`}
  >
    <div class="card">
      <h2 class="text-5xl pb-0.5">{title}</h2>
      <p class="text-2xl pb-4">{subtitle}</p>
      <Content />
    </div>
  </section>
</Layout>

<style>
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .card {
    color: white;
    text-align: center;
    width: 800px;
    padding: 2rem 3rem;
    border: 3px solid white;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(80px);
  }
</style>
