---
import Layout from "../layouts/Layout.astro"

import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro";

---
<Layout>
    <Navbar />
    <html lang="es">
        <head>
            <title>Cálculo de Frigorías | Aires</title>
        </head>
        <body class="bg-gray-50 text-gray-900">
            <main class="max-w-2xl mx-auto px-4 py-16">
                <h1 class="text-3xl font-bold mb-6 text-center">Calculá cuántas frigorías necesitás</h1>
                <div class="h-50">

                </div>
            </main>
        </body>
    </html>
    <Footer/>
</Layout>
