---
import Layaut from "../layouts/Layout.astro";
// src/pages/contacto.astro
import ContactForm from "../components/ContactForm.astro";
import Navbar from "../components/Navbar.astro";
---
<Layaut>
<Navbar />
  <body class="bg-gray-50 text-gray-900">
    <main class="max-w-2xl mx-auto px-4 py-16">
      <ContactForm />
    </main>
  </body>

</Layaut>