---

---

<footer class="bg-gray-900 text-gray-400 py-6 px-6 md:px-12 lg:px-20">
  <div
    class="max-w-sm sm:max-w-md md:max-w-3xl lg:max-w-6xl mx-auto flex justify-center gap-8"
  >
    <div>
      <div class="border-b border-gray-700 w-sm flex justify-center mb-4">
        <img
          class="w-40 pb-4"
          src="/Aires del Rosario - White Logo2.png"
          alt="logo Aires del Rosario - instalaciones"
        />
      </div>

      <ul class="space-y-2 text-sm w-full">
        <li>
          <a
            href="mailto:airesderosario.service@gmail.com"
            class="flex items-center gap-2 hover:text-red-400 transition justify-center"
          >
            <span>
              <img
                src="/mail-icon.png"
                alt="email"
                class="w-5 h-5 rounded-full inline-block"
              />
            </span> airesderosario.service@gmail.com
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/aires.delrosario"
            target="_blank"
            rel="noopener"
            class="flex items-center gap-2 hover:text-pink-400 transition justify-center"
          >
            <span>
              <img
                src="/instagram-icon.png"
                alt="instagram"
                class="w-5 h-5 rounded-full inline-block"
              />
            </span> @aires.delrosario
          </a>
        </li>
        <li>
          <a
            href="https://wa.me/5493412297176"
            target="_blank"
            rel="noopener"
            class="flex items-center gap-2 hover:text-green-400 transition justify-center"
          >
            <span>
              <img
                src="/whatsapp-icon.png"
                alt="whatsApp"
                class="w-5 h-5 rounded-full inline-block"
              />
            </span> WhatsApp
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Línea inferior -->
  <div
    class="mt-4 border-t border-gray-700 pt-6 text-center text-xs text-gray-500"
  >
    © {new Date().getFullYear()} AiresdelRosairo. Todos los derechos reservados.
  </div>
</footer>

<style>
  h3.logo-footer:hover {
    filter: drop-shadow(0 0 8px white);
  }
</style>
