<section>
  <div class="flex pt-10 pb-6 md:pt-10 md:pb-8 px-4 md:px-12 lg:px-20">
    <div class="max-w-4xl mx-auto text-center">
      <h1
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white leading-tight"
      >
        Instalación y reparación de aires acondicionados ❄
      </h1>
    </div>
  </div>
</section>
